# Entornos virtuales
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de datos pesados y cachés
data/lol_data.db
data/modelo_ia.pkl
data/champion.json
data/item_data.json
assets/items/*.png
data/modelo_1v1.pkl

# Archivos del sistema operativo
.DS_Store
Thumbs.db